
.MainProducts
    margin: 5px 0px
    padding-bottom: 50px

    &__parent
        display: flex
        flex-wrap: wrap
        width: 100%
        padding: 50px 0px
        column-gap: 10px
        background: gray
        justify-content: center
    &__item
        width: 20%
        margin-top: 10px
        margin-bottom:10px
        background: blue
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        border-radius: 20px
        padding: 10px
    



            